## 날짜 데이터 생성
+ 작성: 김지훈
+ 수정: 임경호

- 2012년 1월 1일부터 2050년 12월 31일까지 데이터를 생성합니다.
- 데이터의 표현은 yyyymm (년월) 입니다.
- datetype에 있는 값은 각 월의 마지막 날짜 [ex) 2012년 1월 31일, 2012년 11월 30일 ... ]

In [8]:
theYear = '2010'    # 날짜를 생성하고자 하는 년도

In [9]:
import pandas as pd
import numpy as np

In [10]:
#날짜 데이터 생성
start_date = theYear + '0101'
end_date = theYear + '1231'
df = pd.DataFrame({'Date':pd.date_range(start=start_date, end=end_date, freq='M')}) #월 단위로 데이터 받음
df['Date'] = df['Date'].dt.strftime('%Y%m%d').astype(int)
df

        Date
0   20100131
1   20100228
2   20100331
3   20100430
4   20100531
5   20100630
6   20100731
7   20100831
8   20100930
9   20101031
10  20101130
11  20101231

## 날짜 데이터 전처리

분기
- 4분기 : 1분기 (1 ~ 3월) / 2분기 (4 ~ 6월) / 3분기 (7 ~ 9월) / 4분기 (10 ~ 12월)  
- 4분기 : 1분기 (1 ~ 2월) / 2분기 (3 ~ 4월) / 3분기 (5 ~ 6월) / 4분기 (7 ~ 8월) / 5분기 (9 ~ 10월) / 6분기 (11 ~ 12월) 

계절 구분
- season_A : 봄(3 ~ 5월) / 여름(6 ~ 8월) / 가을(9 ~ 11월) / 겨울(12 ~ 2월)  
- season_B : 동절기(12월 ~ 3월) / 하절기(6 ~ 9월) / 기타(4 ~ 5월, 10 ~ 11월)  
- season_C : 동절기(10월 ~ 4월) / 하절기(5 ~ 9월)

In [11]:
df_date = pd.DataFrame() #임의의 데이터프레임 생성
df_date['date_id'] = df['Date'].astype(str) #데이터프레임명 변경
df_date['yyyymm']=df_date['date_id'].str[:6]
df_date['date_type'] = pd.to_datetime(df_date['date_id']) #날짜 형식의 데이터 임시 생성
df_date['year'] = df_date['date_type'].dt.year #년
df_date['month'] = df_date['date_type'].dt.month #월
df_date['day'] = df_date['date_type'].dt.day #일
#df_date=df_date.groupby.df_date['']
df_date['quarter_4'] = df_date['date_type'].dt.quarter #분기(4)
df_date['quarter_6'] = np.ceil(df_date['month']/2).astype(int) #분기(6)
df_date['quarter_4'] = df_date['quarter_4'].astype(str)
df_date['quarter_6'] = df_date['quarter_6']

df_date['quarter_4']=df_date['quarter_4'].astype(str)+'/4'
df_date['quarter_6']=df_date['quarter_6'].astype(str)+'/6'

df_date= df_date.groupby(df_date['yyyymm']).max()

df_date['date_id']=df_date.index
#season_A : 봄(3~5월) / 여름(6~8월) / 가을(9~11월) / 겨울(12~2월) 
df_date.loc[(df_date['month'] == 3) | (df_date['month'] == 4)| (df_date['month'] == 5), 'seanson_A'] = '봄'
df_date.loc[(df_date['month'] == 6) | (df_date['month'] == 7)| (df_date['month'] == 8), 'seanson_A'] = '여름'
df_date.loc[(df_date['month'] == 9) | (df_date['month'] == 10)| (df_date['month'] == 11), 'seanson_A'] = '가을'
df_date.loc[(df_date['month'] == 1) | (df_date['month'] == 2)| (df_date['month'] == 12), 'seanson_A'] = '겨울'
#season_B : 동절기(12월~3월) / 하절기(6~9월) / 기타(4~5월, 10~11월)
df_date.loc[(df_date['month'] == 12) | (df_date['month'] == 1)| (df_date['month'] == 2)| (df_date['month'] == 3), 'seanson_B'] = '동절기'
df_date.loc[(df_date['month'] == 6) | (df_date['month'] == 7)| (df_date['month'] == 8)| (df_date['month'] == 9), 'seanson_B'] = '하절기'
df_date.loc[(df_date['month'] == 4) | (df_date['month'] == 5)| (df_date['month'] == 10)| (df_date['month'] == 11), 'seanson_B'] = '기타'
#season_C : 동절기(10월~4월) / 하절기(5~9월)
df_date.loc[(df_date['month'] == 10) | (df_date['month'] == 11)| (df_date['month'] == 12)| (df_date['month'] == 1)
            | (df_date['month'] == 2)| (df_date['month'] == 3)| (df_date['month'] == 4),'seanson_C'] = '동절기'
df_date.loc[(df_date['month'] == 5) | (df_date['month'] == 6)| (df_date['month'] == 7)
            | (df_date['month'] == 8)| (df_date['month'] == 9), 'seanson_C'] = '하절기'
df_date.reset_index(inplace = True,drop=True)

df_date

,date_id,date_type,year,month,day,quarter_4,quarter_6,seanson_A,seanson_B,seanson_C
0,201001,2010-01-31,2010,1,31,1/4,1/6,겨울,동절기,동절기
1,201002,2010-02-28,2010,2,28,1/4,1/6,겨울,동절기,동절기
2,201003,2010-03-31,2010,3,31,1/4,2/6,봄,동절기,동절기
3,201004,2010-04-30,2010,4,30,2/4,2/6,봄,기타,동절기
4,201005,2010-05-31,2010,5,31,2/4,3/6,봄,기타,하절기
5,201006,2010-06-30,2010,6,30,2/4,3/6,여름,하절기,하절기
6,201007,2010-07-31,2010,7,31,3/4,4/6,여름,하절기,하절기
7,201008,2010-08-31,2010,8,31,3/4,4/6,여름,하절기,하절기
8,201009,2010-09-30,2010,9,30,3/4,5/6,가을,하절기,하절기
9,201010,2010-10-31,2010,10,31,4/4,5/6,가을,기타,동절기
10,201011,2010-11-30,2010,11,30,4/4,6/6,가을,기타,동절기
11,201012,2010-12-31,2010,12,31,4/4,6/6,겨울,동절기,동절기

## DB에 데이터 삽입

In [12]:
import sys
module_path = "D:\PythonProject\data-gatherer\common"
sys.path.append(module_path)
import dbconnect

conn = dbconnect.db_connect("DEMO_DW")
cur = conn.cursor()

for row in df_date.itertuples():
    sql = "insert into date_ym (date_id, date_type, year, month, day, quarter_4, quarter_6, seanson_A, seanson_B, seanson_C) \
                        values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    cur.execute(sql, (row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10]))
conn.commit()
conn.close()