### 주식 가격

In [2]:
stock_code = '005930'
start_date = '1990-01-01'
end_date = '2023-05-31'

### Pandas DataReader

In [5]:
import pandas_datareader.data as pdr

# 출처: naver로 지정
df_pdr = pdr.DataReader(stock_code, 'naver', start=start_date, end=end_date)
df_pdr

             Open   High    Low  Close    Volume
Date
1990-01-03  44000  45000  43200  44800     26240
1990-01-04  45000  45800  44800  45300     41900
1990-01-05  45000  45300  44300  44300     27400
1990-01-06  44800  45000  44500  44500     26380
1990-01-08  44500  44900  44000  44000     14790
...           ...    ...    ...    ...       ...
2023-05-24  68100  68700  68000  68500   8192896
2023-05-25  69900  70000  68700  68800  14231160
2023-05-26  69800  70400  69500  70300  19549511
2023-05-30  71300  72300  71200  72300  27476897
2023-05-31  72400  72500  71000  71400  25666087

[8668 rows x 5 columns]

### FinanceDataReader
- pip install -U finance-datareader
- 사용자 안내서: https://financedata.github.io/posts/finance-data-reader-users-guide.html#
#### 종목 코드
- 거래소별 전체 종목코드: KRX (KOSPI, KODAQ, KONEX), NASDAQ, NYSE, AMEX, S&P 500
#### 가격 데이터
- 해외주식 가격 데이터: AAPL(애플), AMZN(아마존), GOOG(구글) 등
- 국내주식 가격 데이터: 005930(삼성전자), 091990(셀트리온헬스케어) 등
- 각종 지수: KS11(코스피지수), KQ11(코스닥지수), DJI(다우지수), IXIC(나스닥 지수), US500(S&P 5000)
- 환율 데이터: USD/KRX (원달러 환율), USD/EUR(달러당 유로화 환율), CNY/KRW: 위엔화 원화 환율
- 암호화폐 가격: BTC/USD (비트코인 달러 가격, Bitfinex), BTC/KRW (비트코인 원화 가격, 빗썸)

In [7]:
# 네이버 금융
import FinanceDataReader as fdr

df_fdr = fdr.DataReader(stock_code, start=start_date, end=end_date)
df_fdr

             Open   High    Low  Close    Volume    Change
Date
1999-03-16   1700   1716   1696   1706    297728       NaN
1999-03-17   1751   1761   1712   1722    398828  0.009379
1999-03-18   1735   1800   1723   1736    606874  0.008130
1999-03-19   1761   1894   1759   1853   1298440  0.067396
1999-03-22   1878   2025   1841   1947   1575773  0.050729
...           ...    ...    ...    ...       ...       ...
2023-05-24  68100  68700  68000  68500   8192896  0.001462
2023-05-25  69900  70000  68700  68800  14231160  0.004380
2023-05-26  69800  70400  69500  70300  19549511  0.021802
2023-05-30  71300  72300  71200  72300  27476897  0.028450
2023-05-31  72400  72500  71000  71400  25666087 -0.012448

[5982 rows x 6 columns]

### pykrx
- 국내주식 데이터만 조회 가능

In [ ]:
from pykrx import stock

# 코스피 종목 리스트
tickers = stock.get_market_ticker_list("20220222", market="KOSPI")

In [3]:
stock_name = stock.get_market_ticker_name("005930")
stock_name

'삼성전자'

In [4]:
# 특정일 코스피 종목들의 OHLCV
ohlcv = stock.get_market_ohlcv("20220222", market="KOSPI") 
ohlcv

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    5510    5520    5370    5420    57270    311020780 -1.81
006840   21600   22350   21200   22000    84428   1856621100  0.00
027410    5100    5170    5050    5090    91233    465154090 -0.97
282330  166000  166000  162000  162000    24113   3935137500 -2.41
138930    8040    8050    7920    7970  1903857  15178073510 -2.09
...        ...     ...     ...     ...      ...          ...   ...
069260   21550   21700   21350   21500    88801   1911073000 -2.27
000540    3675    3765    3640    3670    27833    102538070 -1.48
000547   28850   28900   28600   28800      232      6651050 -0.35
000545    8020    8020    7810    7810      354      2775720 -2.62
003280    2820    3055    2810    2855  8601947  25244272400 -0.70

[940 rows x 7 columns]

In [5]:
# 특정기간 특정 종목의 OHLCV
ohlcv2 = stock.get_market_ohlcv("20220203", "20220222", "005930") 
ohlcv2

               시가     고가     저가     종가       거래량           거래대금   등락률
날짜
2022-02-03  74900  74900  73300  73300  17744721  1314506070081  0.00
2022-02-04  74300  74600  73400  74000  12730034   941413120563  0.95
2022-02-07  73500  73600  72400  73000  14240838  1037300433232 -1.35
2022-02-08  73800  74200  73000  73500  11736666   863666435400  0.68
2022-02-09  74300  74700  74000  74700   9699122   722221184750  1.63
2022-02-10  75600  75800  74700  75400  17746033  1337516647000  0.94
2022-02-11  75000  75500  74600  74900  12205407   915455022610 -0.66
2022-02-14  74400  74500  73100  73700  13993255  1030683563200 -1.60
2022-02-15  74100  74200  73100  73700   9320365   686706909200  0.00
2022-02-16  74600  74900  74200  74800  10767386   802448854700  1.49
2022-02-17  75000  75600  74500  75000  13605382  1021980123500  0.27
2022-02-18  74600  74800  73700  74300  10122226   751583038400 -0.93
2022-02-21  73200  74300  72600  74200  10489717   769773939300 -0.13
2022-02-22  73000  73400  72800  73400  11692469   854469006291 -1.08