### DART 정기공시('A') 사업보고서(최종) 목록 전체 내용 저장

* 사업보고서 목록 저장 파일의 내용을 수합해서 전체 목록을 csv 파일로 저장

In [5]:
import os
import pandas as pd

# 파일 저장 위치
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/dart_rpt/"
file_list = os.listdir(path_dir)

df_all = pd.DataFrame()    
for file_name in file_list:
    if file_name != 'A_rpt_all.csv' and not file_name.startswith('__'):
        df = pd.read_csv(path_dir + file_name, dtype=object)
        df_all = pd.concat([df_all, df])
    
df_all.drop_duplicates(subset=['corp_code','rcept_no'], keep='first', inplace=True, ignore_index=True)    
df_all.to_csv(path_dir + 'A_rpt_all.csv', index=False)

### 파일에 저장된 사업보고서 목록 검색

> rcept_no : 접수번호

> corp_cls : 법인구분 Y(유가), K(코스닥), N(코넥스), E(기타)

> rm : 비고 상세 - 조합된 문자로 각각은 아래와 같은 의미가 있습니다.
* 유 : 유가증권 종목
* 코 : 코스닥 종목
* 채 : 채권 종목 채권상장법인 공시사항임
* 넥 : 코넥스 종목
* 공 : 공정거래 공시
* 연 : 연결 공시
* 정 : 이후 정정 보고 있음 (최종보고서가 아님)
* 철 : 철회된 보고서

In [6]:
import pandas as pd
# 데이터 Loading
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/dart_rpt/"
df = pd.read_csv(path_dir + 'A_rpt_all.csv', dtype=object)
print(df.shape[0])
df.head(3)

20683

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00191588,삼원강재,023000,Y,[첨부추가]사업보고서 (2016.12),20170331000016,삼원강재,20170331,NaN
1,00366517,KC산업,112190,N,[첨부추가]사업보고서 (2016.12),20170331000727,KC산업,20170331,NaN
2,00139029,아주,NaN,E,[첨부추가]사업보고서 (2016.12),20170331004827,아주,20170331,연

In [18]:
# 보고서 결산년도 검색
year = '2017'
str_expr = "report_nm.str.contains(@year)"
df.query(str_expr)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
2130,00110750,리더스 기술투자,019570,K,사업보고서 (2017.03),20170629000525,리더스 기술투자,20170629,NaN
2138,00378363,3S,060310,K,사업보고서 (2017.03),20170629000470,3S,20170629,연
2139,00201432,비츠로시스,054220,K,사업보고서 (2017.03),20170629000459,비츠로시스,20170629,NaN
2140,00148717,도레이케미칼,008000,E,사업보고서 (2017.03),20170629000430,도레이케미칼,20170629,연
2141,00118008,동원금속,018500,Y,사업보고서 (2017.03),20170629000397,동원금속,20170629,연
...,...,...,...,...,...,...,...,...,...
20100,00147772,정원엔시스,045510,K,[기재정정]사업보고서 (2017.12),20230118000046,정원엔시스,20230118,연
20151,00260958,케이티알파,036030,K,[기재정정]사업보고서 (2017.12),20230523000317,케이티알파,20230523,NaN
20160,00976615,틸론,217880,N,[기재정정]사업보고서 (2017.12),20230519000328,틸론,20230519,NaN
20195,00137359,신풍제약,019170,Y,[기재정정]사업보고서 (2017.12),20230502000010,신풍제약,20230502,연
20309,00151863,청호ICT,012600,Y,[기재정정]사업보고서 (2017.12),20230912000310,청호ICT,20230912,연

In [17]:
# 보고서 결산년월 검색
year_month = '2017.12'
str_expr = "report_nm.str.contains(@year_month)"
df.query(str_expr)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
2607,00266934,파루,043200,K,[첨부추가]사업보고서 (2017.12),20180330002338,파루,20180330,연
2608,00356389,프럼파스트,035200,K,[첨부추가]사업보고서 (2017.12),20180330000130,프럼파스트,20180330,연
2609,00463449,더존홀딩스,NaN,E,[첨부추가]사업보고서 (2017.12),20180330003326,더존홀딩스,20180330,연
2610,00153418,티케이지태광,NaN,E,[첨부추가]사업보고서 (2017.12),20180330002258,티케이지태광,20180330,연
2611,00151447,천지산업,001490,E,[첨부추가]사업보고서 (2017.12),20180329001316,천지산업,20180330,연
...,...,...,...,...,...,...,...,...,...
20100,00147772,정원엔시스,045510,K,[기재정정]사업보고서 (2017.12),20230118000046,정원엔시스,20230118,연
20151,00260958,케이티알파,036030,K,[기재정정]사업보고서 (2017.12),20230523000317,케이티알파,20230523,NaN
20160,00976615,틸론,217880,N,[기재정정]사업보고서 (2017.12),20230519000328,틸론,20230519,NaN
20195,00137359,신풍제약,019170,Y,[기재정정]사업보고서 (2017.12),20230502000010,신풍제약,20230502,연
20309,00151863,청호ICT,012600,Y,[기재정정]사업보고서 (2017.12),20230912000310,청호ICT,20230912,연

In [9]:
# 연도별 보고서 현황 통계
df['report_nm'].str[-8:-4].value_counts()

report_nm
2022    3234
2021    3108
2020    2981
2019    2885
2018    2787
2017    2696
2016    2566
2015     138
2023      85
2014      81
2013      52
2012      33
2011      21
2010       7
2009       4
2008       2
2007       1
2006       1
정정]사       1
Name: count, dtype: int64

In [11]:
# 특정년도 보고서 결산년월 기업현황 통계
year = '2017'
str_expr = "report_nm.str.contains(@year)"
df.query(str_expr)['report_nm'].str[-8:-1].value_counts()

report_nm
2017.12    2639
2017.03      28
2017.06      16
2017.09       6
2017.10       3
2017.11       2
2017.04       1
2017.08       1
Name: count, dtype: int64

In [12]:
# 기업명 검색
corp_name = '삼성전자'
str_expr = "corp_name.str.contains(@corp_name)"
df.query(str_expr).sort_values(by='rcept_no', ascending=True)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
345,00126380,삼성전자,005930,Y,사업보고서 (2016.12),20170331004518,삼성전자,20170331,연
4146,00126380,삼성전자,005930,Y,사업보고서 (2017.12),20180402005019,삼성전자,20180402,연
6586,00126380,삼성전자,005930,Y,사업보고서 (2018.12),20190401004781,삼성전자,20190401,연
8629,00126380,삼성전자,005930,Y,사업보고서 (2019.12),20200330003851,삼성전자,20200330,연
13329,00126380,삼성전자,005930,Y,사업보고서 (2020.12),20210309000744,삼성전자,20210309,연
16414,00126380,삼성전자,005930,Y,사업보고서 (2021.12),20220308000798,삼성전자,20220308,연
20034,00126380,삼성전자,005930,Y,사업보고서 (2022.12),20230307000542,삼성전자,20230307,연

In [13]:
# 기업코드 검색
corp_code = '00126380'
str_expr = "corp_code.str.contains(@corp_code)"
df.query(str_expr).sort_values(by='rcept_no', ascending=True)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
345,00126380,삼성전자,005930,Y,사업보고서 (2016.12),20170331004518,삼성전자,20170331,연
4146,00126380,삼성전자,005930,Y,사업보고서 (2017.12),20180402005019,삼성전자,20180402,연
6586,00126380,삼성전자,005930,Y,사업보고서 (2018.12),20190401004781,삼성전자,20190401,연
8629,00126380,삼성전자,005930,Y,사업보고서 (2019.12),20200330003851,삼성전자,20200330,연
13329,00126380,삼성전자,005930,Y,사업보고서 (2020.12),20210309000744,삼성전자,20210309,연
16414,00126380,삼성전자,005930,Y,사업보고서 (2021.12),20220308000798,삼성전자,20220308,연
20034,00126380,삼성전자,005930,Y,사업보고서 (2022.12),20230307000542,삼성전자,20230307,연

In [14]:
# 종목코드 검색
stock_code = '005930'
str_expr = "stock_code == @stock_code"
df.query(str_expr).sort_values(by='rcept_no', ascending=True)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
345,00126380,삼성전자,005930,Y,사업보고서 (2016.12),20170331004518,삼성전자,20170331,연
4146,00126380,삼성전자,005930,Y,사업보고서 (2017.12),20180402005019,삼성전자,20180402,연
6586,00126380,삼성전자,005930,Y,사업보고서 (2018.12),20190401004781,삼성전자,20190401,연
8629,00126380,삼성전자,005930,Y,사업보고서 (2019.12),20200330003851,삼성전자,20200330,연
13329,00126380,삼성전자,005930,Y,사업보고서 (2020.12),20210309000744,삼성전자,20210309,연
16414,00126380,삼성전자,005930,Y,사업보고서 (2021.12),20220308000798,삼성전자,20220308,연
20034,00126380,삼성전자,005930,Y,사업보고서 (2022.12),20230307000542,삼성전자,20230307,연

In [15]:
# 상장종목 검색 (Y-유가증권, K-코스닥)
corp_cls = 'Y'
str_expr = "corp_cls.str.contains(@corp_cls)"
df.query(str_expr).sort_values(by='corp_code', ascending=True)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
12907,00100939,강남제비스코,000860,Y,사업보고서 (2020.12),20210317000299,강남제비스코,20210317,연
7217,00100939,강남제비스코,000860,Y,사업보고서 (2018.12),20190401003049,강남제비스코,20190401,연
15375,00100939,강남제비스코,000860,Y,사업보고서 (2021.12),20220321000879,강남제비스코,20220321,연
19120,00100939,강남제비스코,000860,Y,사업보고서 (2022.12),20230320000691,강남제비스코,20230320,연
5218,00100939,강남제비스코,000860,Y,[기재정정]사업보고서 (2017.12),20181231000137,강남제비스코,20181231,연
...,...,...,...,...,...,...,...,...,...
20449,01669226,한화리츠,451800,Y,사업보고서 (2023.04),20230719000150,한화리츠,20230719,NaN
20238,01688896,삼성FN리츠,448730,Y,사업보고서 (2023.01),20230418000403,삼성FN리츠,20230418,NaN
20442,01688896,삼성FN리츠,448730,Y,사업보고서 (2023.04),20230720000167,삼성FN리츠,20230720,NaN
20670,01688896,삼성FN리츠,448730,Y,사업보고서 (2023.07),20231019000287,삼성FN리츠,20231019,NaN
18487,01702017,유니드비티플러스,446070,Y,사업보고서 (2022.12),20230322000303,유니드비티플러스,20230322,NaN

In [16]:
# 상장종목 + 결산년월 검색 (Y-유가증권, K-코스닥)
corp_cls = 'Y'
year_month = '2017.12'
str_expr = "corp_cls.str.contains(@corp_cls) and report_nm.str.contains(@year_month)"
df.query(str_expr).sort_values(by='corp_code', ascending=True)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
5218,00100939,강남제비스코,000860,Y,[기재정정]사업보고서 (2017.12),20181231000137,강남제비스코,20181231,연
5083,00101044,에이프로젠바이오로직스,003060,Y,[기재정정]사업보고서 (2017.12),20180911000364,에이프로젠바이오로직스,20180911,연
4172,00101220,KG케미칼,001390,Y,사업보고서 (2017.12),20180402004883,KG케미칼,20180402,연
2819,00101433,경농,002100,Y,사업보고서 (2017.12),20180330003022,경농,20180330,연
3140,00101488,경동나비엔,009450,Y,사업보고서 (2017.12),20180330001650,경동나비엔,20180330,연
...,...,...,...,...,...,...,...,...,...
4730,01261893,케이씨텍,281820,Y,사업보고서 (2017.12),20180402002686,케이씨텍,20180402,NaN
4961,01262458,동아타이어,282690,Y,사업보고서 (2017.12),20180402000940,동아타이어,20180402,NaN
4617,01263022,BGF리테일,282330,Y,사업보고서 (2017.12),20180402003237,BGF리테일,20180402,연
4912,01267170,SK케미칼,285130,Y,[기재정정]사업보고서 (2017.12),20180402001432,SK케미칼,20180402,연
2959,01267684,쿠쿠홈시스,284740,Y,사업보고서 (2017.12),20180330002495,쿠쿠홈시스,20180330,연