## 한국수출입은행 - 원화 환율 (일자 지정)
+ 작성: 임경호

In [21]:
import requests
import pandas as pd

url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON'
api_key = 'OczbdUJk31QuSPZNx3llq7VFOEmsMuew'
RESULT_SUCCESS = 1

search_date = '20230705'
params = {
    'authkey': api_key,
    'searchdate': search_date,
    'data': 'AP01'             # 환율
}

response = requests.get(url, params=params)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")

+ RESULT  Integer 조회결과
  - 1 : 성공, 2 : DATA코드 오류, 3 : 인증코드 오류, 4 : 일일제한횟수 마감
+ CUR_UNIT	String	통화코드
+ CUR_NM	String	국가/통화명
+ TTB String 전신환(송금) 받으실때
+ TTS String 전신환(송금) 보내실때
+ DEAL_BAS_R  String 매매 기준율
+ BKPR  String	장부가격	
+ YY_EFEE_R String	년환가료율	
+ TEN_DD_EFEE_R String	10일환가료율	
+ KFTC_DEAL_BAS_R String	서울외국환중개 매매기준율	
+ KFTC_BKPR String	서울외국환중개 장부가격

In [19]:
# 데이터프레임 형태로 변환
df_fx = pd.json_normalize(response.json())
if not df_fx.empty:
    if RESULT_SUCCESS not in df_fx['result'].unique():         # 성공이 아니라면
        print('Result is not successful')
    df_fx.drop('result', axis=1, inplace=True)
    df_fx.insert(0, 'date', search_date)

In [20]:
df_fx

,result,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,4,None,None,None,None,None,None,None,None,None,None

In [91]:
df_fx.shape

(23, 11)

In [92]:
df_fx

,date,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,20230703,AED,355.62,362.81,359.22,359,0,0,359,359.22,아랍에미리트 디르함
1,20230703,AUD,870.13,887.7,878.92,878,0,0,878,878.92,호주 달러
2,20230703,BHD,"3,464.83","3,534.82","3,499.83","3,499",0,0,"3,499","3,499.83",바레인 디나르
3,20230703,BND,965.8,985.31,975.56,975,0,0,975,975.56,브루나이 달러
4,20230703,CAD,985.85,"1,005.76",995.81,995,0,0,995,995.81,캐나다 달러
5,20230703,CHF,"1,459.28","1,488.77","1,474.03","1,474",0,0,"1,474","1,474.03",스위스 프랑
6,20230703,CNH,179.95,183.58,181.77,181,0,0,181,181.77,위안화
7,20230703,DKK,191.37,195.24,193.31,193,0,0,193,193.31,덴마아크 크로네
8,20230703,EUR,"1,425.07","1,453.86","1,439.47","1,439",0,0,"1,439","1,439.47",유로
9,20230703,GBP,"1,658.61","1,692.12","1,675.37","1,675",0,0,"1,675","1,675.37",영국 파운드
10,20230703,HKD,166.67,170.04,168.36,168,0,0,168,168.36,홍콩 달러
11,20230703,IDR(100),8.71,8.88,8.8,8,0,0,8,8.8,인도네시아 루피아
12,20230703,JPY(100),904.73,923,913.87,913,0,0,913,913.87,일본 옌
13,20230703,KRW,0,0,1,1,0,0,1,1,한국 원
14,20230703,KWD,"4,246.16","4,331.95","4,289.06","4,289",0,0,"4,289","4,289.06",쿠웨이트 디나르
15,20230703,MYR,279.85,285.5,282.68,282,0,0,282,282.68,말레이지아 링기트
16,20230703,NOK,121.42,123.87,122.65,122,0,0,122,122.65,노르웨이 크로네
17,20230703,NZD,801.35,817.54,809.45,809,0,0,809,809.45,뉴질랜드 달러
18,20230703,SAR,348.26,355.29,351.78,351,0,0,351,351.78,사우디 리얄
19,20230703,SEK,120.97,123.42,122.2,122,0,0,122,122.2,스웨덴 크로나
20,20230703,SGD,965.8,985.31,975.56,975,0,0,975,975.56,싱가포르 달러
21,20230703,THB,37.01,37.76,37.39,37,0,0,37,37.39,태국 바트
22,20230703,USD,"1,306.2","1,332.59","1,319.4","1,319",0,0,"1,319","1,319.4",미국 달러